* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  font-family: Arial, Helvetica, sans-serif;
}

header nav .container {
    display: flex;
  }

nav {
  background-color: #ff6900;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1;
}

.container {
    max-width: 980px;
    margin: auto;
    align-items: center;
}

nav ul {
    list-style: none;
    display: flex;
  }
  
  nav ul a {
    display: inline-block;
    padding: 1rem .5rem;
    text-decoration: none;
    color: white;
  }

nav ul i {
    display: inline-block;
    text-align: right;
}

.logo {
    display:flex;
    justify-content: center;
    flex-grow: 1;
    /* background-image: url(../imgs/boolean-logo.png);
    background-size: contain;
    background-repeat: no-repeat; */
    padding: 1rem 1rem;
}

.logo img {
    width: 100px;
}

.nav-links, .icon {
    min-width: 150px;
}

.icon{
    text-align: right;
}

